<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if event.is_goal %}
    <h1> GOAL ! </h1>
    <h1>合計点　{{user.score}}</h1>
{% else %}
    <h1>move {{ steps }} steps</h1>
    <h1>{{event.klass.professor}} 先生</h1>
    <h1>{{event.klass.name}} {{event.reason}}</h1>
    <h1>　{{event.score_delta}}　点 GET!!</h1>
    <h1>現在の点数: {{user.score}}</h1>
{% endif %}
    <input type="button" value="1" id="one"/>
    <script src="/static/index.js"></script>
</body>

</html>